In [2]:
import pandas as pd
import numpy as np
import os
import glob
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [3]:
engine = create_engine('postgresql://postgres:cabaret1972@localhost:5433/Crypto_DB')
connection = engine.connect()

In [4]:
# data collection and clearning part
# i seperated the data into two streams: 1. 24hr real time data acquired by API (using JS); 2. 
# historical data for 5 cryptocurrencies that i wanted to apply in-depth analysis and 
# machine learning on (using Python).

bitcoin_df=pd.read_csv('../../data/coin_Bitcoin.csv') 

tether_df=pd.read_csv('../../data/coin_Tether.csv') 

ethereum_df=pd.read_csv('../../data/coin_Ethereum.csv')

shiba_df=pd.read_csv('../../data/coin_shiba.csv')

doge_df=pd.read_csv('../../data/coin_Dogecoin.csv')

In [5]:
# cleansing data to match with each other and remove unnecessary cols
# will only keep Name, high, close, and volume for this analysis
bitcoin_df=bitcoin_df[['Name','Date','Close','Marketcap']]
tether_df=tether_df[['Name','Date','Close','Marketcap']]
ethereum_df=ethereum_df[['Name','Date','Close','Marketcap']]
shiba_df=shiba_df[['Name','Date','Close','Marketcap']]
doge_df=doge_df[['Name','Date','Close','Marketcap']]

In [6]:
# set all close column with 8 decimal points as shiba coin has very low unit price

bitcoin_df['Close']=bitcoin_df['Close'].map("{:.8f}".format)

In [7]:
tether_df['Close']=tether_df['Close'].map("{:.8f}".format)

In [8]:
ethereum_df['Close']=ethereum_df['Close'].map("{:.8f}".format)

In [9]:

shiba_df['Close']=shiba_df['Close'].map("{:.8f}".format)

In [10]:

doge_df['Close']=doge_df['Close'].map("{:.8f}".format)

In [11]:
shiba_df

      Name     Date       Close    Marketcap
0    Shiba  22/1/22  0.00002217  12212883707
1    Shiba  21/1/22  0.00002217  14620746755
2    Shiba  20/1/22  0.00002647  15074965504
3    Shiba  19/1/22  0.00002734  15495831260
4    Shiba  18/1/22  0.00002819  15891202083
..     ...      ...         ...          ...
361  Shiba  26/1/21  0.00000000            0
362  Shiba  25/1/21  0.00000000            0
363  Shiba  24/1/21  0.00000000            0
364  Shiba  23/1/21  0.00000000            0
365  Shiba  22/1/21  0.00000000            0

[366 rows x 4 columns]

In [11]:
# save to postgres database

shiba_df.to_sql(name='shiba', con=engine, if_exists='replace', index=False)

In [12]:
bitcoin_df.to_sql(name='bitcoin', con=engine, if_exists='replace', index=False)

In [13]:
tether_df.to_sql(name='tether', con=engine, if_exists='replace', index=False)

In [14]:
ethereum_df.to_sql(name='ethereum', con=engine, if_exists='replace', index=False)

In [15]:
doge_df.to_sql(name='doge', con=engine, if_exists='replace', index=False)

In [12]:
shiba_df.to_csv('../../data/shiba_cleaned.csv')

In [13]:
doge_df.to_csv('../../data/doge_cleaned.csv')

In [14]:
ethereum_df.to_csv('../../data/ethereum_cleaned.csv')

In [15]:
tether_df.to_csv('../../data/tethera_cleaned.csv')

In [16]:
bitcoin_df.to_csv('../../data/bitcoin_cleaned.csv')

In [ ]:
country_df=pd.read_csv('../../data/country_data.csv')

In [ ]:
rows_with_na = [index for index, row in country_df.iterrows() if row.isnull().any()]
country_df.drop(index=rows_with_na)

In [ ]:
country_df.to_csv('country_data.csv')