In [49]:
import pandas as pd
import numpy as np
import os
import glob
import sqlalchemy as db
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
import requests
from selenium import webdriver
from selenium.webdriver.common.keys import Keys 
import seaborn as sns

In [50]:
engine = db.create_engine('postgresql://postgres:cabaret1972@localhost:5433/Crypto_DB')
connection = engine.connect()

In [64]:
shiba_df = pd.read_sql("SELECT * FROM shiba",connection)
bitcoin_df=pd.read_sql("SELECT * FROM bitcoin",connection)
doge_df=pd.read_sql("SELECT * FROM doge",connection)
eth_df=pd.read_sql("SELECT * FROM ethereum",connection)
tet_df=pd.read_sql("SELECT * FROM tether",connection)

In [65]:
# concatenate all tables
concat_df=pd.concat([shiba_df,bitcoin_df,doge_df,eth_df,tet_df])

In [66]:
concat_df["Date"] = pd.to_datetime(concat_df["Date"])

In [68]:
concat_df.dtypes

Name                 object
Date         datetime64[ns]
Close                object
Marketcap           float64
dtype: object

In [69]:
# convert close data type to float
concat_df['Close']=concat_df['Close'].astype(float).map("{:.8f}".format)

In [70]:
concat_df['Close']=concat_df['Close'].astype(float)

In [73]:
pd.set_option('display.precision',8)
concat_df

        Name                Date       Close       Marketcap
0      Shiba 2022-01-22 00:00:00  0.00002217  1.22128837e+10
1      Shiba 2022-01-21 00:00:00  0.00002217  1.46207468e+10
2      Shiba 2022-01-20 00:00:00  0.00002647  1.50749655e+10
3      Shiba 2022-01-19 00:00:00  0.00002734  1.54958313e+10
4      Shiba 2022-01-18 00:00:00  0.00002819  1.58912021e+10
...      ...                 ...         ...             ...
2313  Tether 2021-07-02 23:59:59  1.00003271  6.23759155e+10
2314  Tether 2021-07-03 23:59:59  0.99995627  6.23711475e+10
2315  Tether 2021-07-04 23:59:59  0.99950088  6.23427430e+10
2316  Tether 2021-07-05 23:59:59  1.00066742  6.24155047e+10
2317  Tether 2021-07-06 23:59:59  1.00009009  6.23338379e+10

[10595 rows x 4 columns]

In [1]:
# machine learning part
import os
os.environ['KMP_DUPLICATE_LIB_OK']='True'

In [ ]:
from keras.models import Sequential
from keras.layers import Activation, Dense, Dropout, LSTM